---
title: Accessibility

---

<div class="row">
	<div class="small-8 small-centered columns">
		<div class="panel callout radius">
			<h4 class="text-center">Accessibility Validation</h4>
			<ul>
				<li><a href="http://accessibility.oit.ncsu.edu/accessibleu/problems.html">Check for common problems</a></li>
				<li><a href="http://achecker.ca/checker/index.php">IDI Web Access Checker</a></li>
				<li><a href="http://www.nvda-project.org/">Test with a screen reader</a></li>
				<li><a href="http://www.checkmycolours.com/">Check colour contrast</a></li>
			</ul>
		</div>
	</div>
</div>
<a class="exit-off-canvas"></a>