---
title: Best Practices

---

<h4 class="text-center">Check Browsers</h4>


<div id="browsers" class="row">
	<ul class="cd-pricing-list">{{#each browsertest.list}}{{> pricepanel}}{{/each}}</ul>
</div>
<a class="exit-off-canvas"></a>