---
title: Code

---

<div class="row">
	<div class="small-9 small-centered large-uncentered columns">
		<div class="panel callout radius">
			<h4 class="text-center">HTML Validation</h4>
			<ul>
				<li><a href="http://validator.w3.org/">W3C Validator</a></li>
				<li><a href="http://watson.addy.com/">Dr.Watson Validator</a></li>
			</ul>
		</div>
		<div class="panel callout radius">
			<h4 class="text-center">CSS Validation</h4>
			<ul>
				<li><a href="http://jigsaw.w3.org/css-validator/">W3C Validator</a></li>
			</ul>
		</div>
		<div class="panel callout radius">
			<h4 class="text-center">CSS Lint</h4>
			<ul>
				<li><a href="http://csslint.net/">CSS Lint Online</a></li>
			</ul>
		</div>
		<div class="panel callout radius">
			<h4 class="text-center">JS Lint/Hint</h4>
			<ul>
				<li><a href="http://jslint.org/">JS Lint Online</a></li>
				<li><a href="http://jshint.com/">JS Hint Online</a></li>
			</ul>
		</div>
		<div class="panel callout radius">
			<h4 class="text-center">Locale Ready</h4>
			<ul>
				<li><a href="http://validator.w3.org/i18n-checker/">W3C i18n checker</a></li>
			</ul>
		</div>
		<div class="panel callout radius">
			<h4 class="text-center">Automated Testing</h4>
			<ul>
				<li><a href="http://www.testomato.com/">Testomato</a></li>
			</ul>
		</div>
	</div>
</div>
<a class="exit-off-canvas"></a>

