---
title: Don'ts
---

<div class="donts row">
	<div class="small-9 small-centered columns">
		<div class="panel callout radius">
			<p>Don't launch on Fridays.</p>
			<p>Don't launch before heading home.</p>
			<p>Don't launch without a backup plan.</p>
			<p>Don't launch without a way to beta changes/fixes.</p>
			<p>Don't launch code first and data second.</p>
			<p>Don't launch with debug code in place (doubly true for payments).</p>
			<p>Don't launch without analytics or logging in place.</p>
			<p>Don't launch without testing in IE.</p>
			<p>Don't launch without checking the database schema matches.</p>
			<p>Don't launch without committing the changes to version control.</p>
			<p>Don't launch while distracted.</p>
		</div>
	</div>
</div>
<a class="exit-off-canvas"></a>