---
title: Hosting

---
<div class="row">
    <h4 class="text-center">VPS Hosting</h4>
    <ul class="pricing-table">
        <!-- Lorem -->
        <li class="panel">
            <div class="title">Ramnode</div>
            <div class="link">
                <span>Details at</span>
                <a href="http://www.ramnode.com/" target="_blank">Link</a>
            </div>
        </li>
        <li class="panel">
            <div class="title">VpsDime</div>
            <div class="link">
                <span>Details at</span>
                <a href="https://vpsdime.com/" target="_blank">Link</a>
            </div>
        </li>
        <li class="panel">
            <div class="title">BuyVm</div>
            <div class="link">
                <span>Details at</span>
                <a href="http://buyvm.net/" target="_blank">Link</a>
            </div>
        </li>
        <li class="panel">
            <div class="title">Linode</div>
            <div class="link">
                <span>Details at</span>
                <a href="http://www.linode.com" target="_blank">Link</a>
            </div>
        </li>
        <li class="panel">
            <div class="title">Digital Ocean</div>
            <div class="link">
                <span>Details at</span>
                <a href="https://www.digitalocean.com/" target="_blank">Link</a>
            </div>
        </li>
        <li class="panel">
            <div class="title">CloudAtCost</div>
            <div class="link">
                <span>Details at</span>
                <a href="http://cloudatcost.com/" target="_blank">Link</a>
            </div>
        </li>
    </ul>
</div>
<a class="exit-off-canvas"></a>