---
title: Sanity

---

<div class="row">
	<div class="small-8 small-centered columns">
		<h4 class="text-center">Sanity Check</h4>
		<div class="panel">
			<ul>
				<li><a href="http://everyfuckingwebsite.com/">E.F.W.S.</a></li>
			</ul>
		</div>
	</div>
</div>
<a class="exit-off-canvas"></a>