---
title: Security

---
<div class="row">
	<div class="small-8 small-centered columns">
		<div class="panel">
			<h4 class="text-center">Best Practices</h4>
			<ul>
				<li><a href="https://asafaweb.com/">Asafaweb Security Analyser</a></li>
				<li><a href="https://www.owasp.org/index.php/Category:OWASP_Top_Ten_Project">OWASP Top 10</a></li>
				<li><a href="https://www.owasp.org/index.php/Cheat_Sheets">OWASP Cheat Sheet</a></li>
			</ul>
		</div>
		<div class="panel">
			<h4 class="text-center">XSS(Cross-site Scripting)</h4>
			<ul>
				<li><a href="https://www.owasp.org/index.php/XSS_(Cross_Site_Scripting)_Prevention_Cheat_Sheet">XSS Cheat Sheet</a></li>
				<li><a href="https://www.owasp.org/index.php/DOM_based_XSS_Prevention_Cheat_Sheet">DOM based XSS Cheat Sheet</a></li>
				<li><a href="http://www.acunetix.com/cross-site-scripting/scanner/">XSS Scanner</a></li>
			</ul>
		</div>
		<div class="panel">
			<h4 class="text-center">CSRF (Cross-site request forgery)</h4>
			<ul>
				<li><a href="https://www.owasp.org/index.php/Cross-Site_Request_Forgery_(CSRF)_Prevention_Cheat_Sheet">CSRF Cheat Sheet</a></li>
			</ul>
		</div>
		<div class="panel">
			<h4 class="text-center">Extras</h4>
			<ul>
				<li><h4 class="text-center">Content Security Policy</h4>
					<ul>
						<li><a href="http://www.html5rocks.com/en/tutorials/security/content-security-policy/">Content Security Policy Tutorial</a></li>
						<li><a href="https://www.owasp.org/index.php/Content_Security_Policy">OWASP Guide</a></li>
						<li><a href="https://developer.mozilla.org/en-US/docs/Security/CSP/Using_Content_Security_Policy">MDN Guide</a></li>
						<li><a href="https://github.com/oxdef/csp-tester">CSP Tester</a></li>
					</ul>
				</li>
				<li>
					<h4 class="text-center">HTTP Strict Transport Security</h4>
					<ul>
						<li><a href="https://www.owasp.org/index.php/HTTP_Strict_Transport_Security">OWASP Guide</a></li>
						<li><a href="https://developer.mozilla.org/en-US/docs/Security/HTTP_Strict_Transport_Security">MDN Guide</a></li>
					</ul>
				</li>
				<li><a href="https://www.ssllabs.com/ssltest/">SSL Test</a></li>
			</ul>
		</div>
	</div>
</div>
<a class="exit-off-canvas"></a>