---
title: SEO

---
<div class="row">
	<div class="small-8 small-centered columns">
		<h4 class="text-center">SEO Tools</h4>
		<div class="panel callout radius">
			<ul>
				<li><a href="https://addons.mozilla.org/en-US/firefox/addon/senseo/">SunSEO Firefox Addon</a></li>
				<li><a href="http://www.google.com/webmasters/tools/richsnippets">Google Rich Snippets Tester</a></li>
				<li><a href="http://www.robotsgenerator.com/">Robots.txt Generator</a></li>
				<li><a href="http://www.xml-sitemaps.com/">XML Sitemap Generator</a></li>
			</ul>
		</div>
		<h4 class="text-center">Social Media</h4>
		<div class="panel callout radius">
			<ul>
				<li><a href="http://ogp.me/">Opengraph Protocol</a></li>
				<li><a href="https://dev.twitter.com/docs/cards">Twitter Cards</a></li>
				<li><a href="https://developers.facebook.com/docs/insights/">Facebook Insights</a></li>
				<li><a href="https://plus.google.com/authorship">Google+</a></li>
			</ul>
		</div>
	</div>
</div>









