---
title: Semantics

---
<div class="row">
	<div class="small-9 small-centered large-uncentered columns">
		<div class="panel">
			<h4 class="text-center">Microdata</h4>
			<ul>
				<li><a href="http://realfavicongenerator.net/">Real Favicon Generator</a></li>
				<li><a href="http://faviconit.com/en">Favicon It</a></li>
			</ul>
		</div>
		<div class="panel">
			<h4 class="text-center">Optionals</h4>
			<ul>
				<li><a href="http://www.google.com/cse/">Google Custom Search</a></li>
			</ul>
		</div>
	</div>
</div>
<a class="exit-off-canvas"></a>