@charset "UTF-8";
@import "../bower_components/foundation/scss/foundation";
@import "../bower_components/foundation/scss/normalize";
@import "compass/css3/font-face";
@import "font-awesome-compass";
@import "font-awesome";
@import "partials/donts";
@import "partials/lorems";
@font-face {
  font-family: 'FontAwesome';
  src: url("../css/fonts/fontawesome-webfont.eot");
  src: url("../css/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../css/fonts/fontawesome-webfont.woff") format("woff"), url("../css/fonts/fontawesome-webfont.ttf") format("truetype"), url("../css/fonts/fontawesome-webfont.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background: url('../images/1280.jpg') no-repeat center center fixed;
    min-width: 100%;
    width: 100%;
}
.fixed, .left-off-canvas-menu {
    z-index: 1003;
}
.move-right .left-off-canvas-menu {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
}
.left-off-canvas-menu {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.move-right>.inner-wrap {
    -webkit-transform: none;
    transform: none;
}
.move-right a.exit-off-canvas {
    -webkit-transition: none;
    transition: none;
}
.central {
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 1em;
}
.donts {
    p{
        text-align: center;
        font-size: 3vw;
    }
}
.pricing-table * {
    line-height: initial;
}
#browsers {
    margin-top: 1rem;
}
.link a {
    -webkit-transition:all 300ms;
    -moz-transition:all 300ms;
    -ms-transition:all 300ms;
    -o-transition:all 300ms;
    transition:all 300m;
    border:1px solid #E0E0E0;
    text-decoration:none;
    border-radius:3px;
    padding:4px;
    padding-right:8px;
    padding-left:8px;
    margin-left:5px;
    font-size:13px;
    opacity:1;
    color:#333;
}
li .title {
    font-weight:400;
    font-size:18px;
    color:#333;
}